<!DOCTYPE html>
<html>
  <head>
    <title>Currency Conversion</title>
  </head>
  <body>
    <h1>Convert <%= @base_currency %> to <%= @target_currency %></h1>
    <p><%= @amount %> <%= @base_currency %> equals <%= @converted_amount %> <%= @target_currency %>.</p>
  </body>
</html>
